{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'CSS/brokerloginpage.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#f").submit(function (e) {
                e.preventDefault();

                var usname = $("#usname").val();
                var psw = $("#psw").val();
                var csrfToken = $("input[name='csrfmiddlewaretoken']").val(); // Fetch CSRF token

                $.ajax({
                    url: "/ulogin/",
                    type: "POST",
                    data: {
                        usname: usname,
                        psw: psw,
                        csrfmiddlewaretoken: csrfToken // Include CSRF token
                    },
                    dataType: "json", // Ensure response is treated as JSON
                    success: function (data) {
                        if (data.success) {
                            window.location.href = data.redirect_url;
                        } else {
                            alert(data.error); // Show error message
                        }
                    },
                    error: function (xhr) {
                        let response = xhr.responseJSON;
                        alert(response ? response.error : "Login failed. Please try again.");
                    }
                });
            });
        });
    </script>
</head>

<body>
    <a href="/home"><button id="se" type="submit" style="background-color:red;color:#FFFFFF;"><h1>LMS</h1></button></a>
    <div class="login">
        <h1 class="h1">WELCOME BACK! BROKER</h1>
        <h2 class="h2">Don't have an account? <a href="/brokersignuppage">Sign Up</a></h2>

        <form id="f">
            {% csrf_token %}
            <ua class="username">Username</ua>
            <input class="uinput" type="text" placeholder="Enter your username" name="usname" id="usname" required>
            <pa class="password">Password</pa>
            <input type="password" class="pinput" placeholder="**********" name="psw" id="psw" required autocomplete="off">
            <a class="flink" href="/brpass">Forgot password?</a>
            <button class="button" id="sd" type="submit">Sign in</button>
        </form>
    </div>
    <div>
        <img src="{% static 'images/bg.png' %}" alt="Background IMAGE" class="img">
    </div>
</body>
</html>
